!!!
%html
  %head
    %title
      -if yield(:title).blank?
        ="JS-Testing App"
      -else
        =yield(:title)
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag 
  %body
    =yield
